h1 {
  text-align: center
}

div {
   font-style: italic;
   text-align: center;
   font-size: 24px
}

table {
     text-align: left;
     width: 100%;
     border: 1px solid black;
}

th, td {
      border: 1px solid black;
      padding: 10px;
}

th {
  text-transform: uppercase;
}
