h1 {
  text-align: center
}

div {
   font-style: italic;
   text-align: center;
   font-size: 24px;
}

#divtab {
    margin-top:25px;
}

table {
     text-align: left;
     width: 100%;
     border: 1px solid black;
}

th, td {
      border: 1px solid black;
      padding: 10px;
}

th {
  text-transform: uppercase;
}

form {
    padding: 10px;
    font-style: italic;
}

input {
     margin: 10px;
}